<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GradeMapper">

    <resultMap id="gradeResult" type="model.Grade">
        <id property="id" column="id"/>
        <result property="date" column="date"/>
        <result property="mark" column="mark"/>
        <association property="subject"
                     column="subject_id"
                     javaType="model.Subject"
                     select="selectSubject"
                     fetchType="eager"/>
    </resultMap>

    <select id="selectGrade" resultMap="gradeResult">
        select grades.id, grades.date, grades.mark
        from grades where grades.id = #{id}
    </select>

</mapper>